<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.MyDbConnectionString"
            connectionString="Data Source=DESKTOP-N0V2CA2\OSAMASERVER;Initial Catalog=MyDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.UsersConnectionString"
            connectionString="Data Source=DESKTOP-N0V2CA2\OSAMASERVER;Initial Catalog=Users;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>